#!/bin/bash

# before first use you need to "touch garmin", it's used to know when the script was last run
GARMIN_USER=
GARMIN_PASS=

STRAVA_USER=
STRAVA_PASS=

cd "$(dirname "$0")"
./garmin_connect/download_all.rb $GARMIN_USER $GARMIN_PASS $(date -r garmin +%Y%m%d)
find . -name \*.gpx | cut -c 3- | xargs -n1 ./strava/upload_one.rb $STRAVA_USER $STRAVA_PASS
rm *.gpx
touch garmin

